<h1>Assign Work Order</h1>

<%= form_for(@workorder) do |f| %>
	<%= render 'error' %>

  <div class="field">
    <%= f.label :work_details %> 
	<%= f.label :work_details , @workorder.work_details %>
  </div>
  <div class="field">
    <%= f.label :worker %>
    <%= f.select :worker_id,Worker.all.map { |worker| [worker.first_name + " " + worker.last_name ,worker.id] } %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status_id ,Status.all.map { |status| [status.status_description , status.id] } %>
  </div>   
   <div style ="Display:none" >
    <%= f.label :last_updated_at %>
    <%= f.date_select :last_updated_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<%= link_to 'Back', workorders_path %>
