<p id="notice"><%= notice %></p>

<h5> Worker Details</h5>

<p>
  <strong>First name:</strong>
  <%= @worker.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @worker.last_name %>
</p>


<br/>
<br/>

<h5> Worker Order Assigned to the Worker </h5>

<%= render 'workorders/list_work_orders' %> 

<br/>
<%= link_to 'Back', workorders_path %>
